.body {
    background-color: #fae164;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #F08700;
}

.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    text-align: center;
}

.cat-party {
    min-height: 200px;
    max-width: 506px;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-bottom: 50px;
    animation: fadeIn 3s ease infinite;
    animation-direction: reverse;
    animation-fill-mode: none;
}

img:hover {
    animation-play-state: paused;
}

@keyframes fadeIn {
    0% {transform: scale(1);} 
    50% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

.svg-images {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: 100%;
    max-width: 300px;
    width: 100%;
}

.accept {
    height: 100px;
    height: 100%;
    max-width: 100px;
    width: 100%;
}

.decline {
    min-height: 100px;
    height: 100%;
    max-width: 100px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 300px;
    width: 100%;
}

.accept-btn {
    min-height: 50px;
    max-width: 100px;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-color: green;
    border: 2px solid;
    border-color: rgb(2, 88, 2);
    border-radius: 10px;
}

.accept-btn:hover {
    background-color: rgb(2, 88, 2);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
}

.decline-btn {
    min-height: 50px;
    max-width: 100px;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-color: red;
    border: 2px solid;
    border-color: rgb(188, 9, 9);
    border-radius: 10px;
}

.decline-btn:hover {
    background-color: rgb(188, 9, 9);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
}

/*.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/